In [ ]:
options(jupyter.rich_display = F)

# INSURANCE PRICE CHANGE

## QUESTION

A car insurance company has the data of their customers' ages and their accident backgrounds. 
They normally charge younger people more because they think they are more likely to have car accidents.
An employee gathers this data below and wants to change the pricing policy.

```r
RNGversion("3.3.2")
set.seed(2020)
ages <- sample(20:60,70,replace=T)
accident <- sample(c("Yes","No"),70,replace=T)
insurance_data <- data.frame(ages,accident)

```

To do that he needs to:


1) Add this column below that shows the faulty party to the dataframe.
```r

whose_fault<- c("Not","Not" ,  "Not"  , "Not" ,  "Not" ,  "Not" ,  "Their", "Not"  ,"Not"  , "Not"  , "Not"  , "Not" ,  "Their", "Not"  , "Their", "Their","Not"   ,"Not"  , "Not"  , "Not" ,  "Not"  , "Not"  , "Their" ,"Not"  ,"Not",   "Not"  , "Not"  , "Their", "Not"  , "Not"  , "Not" ,  "Not" , "Not" ,  "Not"  , "Not"  , "Their", "Not"  , "Not"  , "Not" ,  "Not"  , "Not" ,  "Not" ,  "Their" , "Not" ,  "Not" ,  "Not" ,  "Not" ,  "Their", "Not"  , "Not" ,  "Not"  , "Not" ,  "Not" ,  "Not" ,  "Not" ,  "Not"  , "Not"  , "Not" ,  "Not" ,  "Not" ,  "Not" ,  "Not" ,  "Not" ,  "Not",  "Their" , "Their" , "Not" ,  "Not" ,  "Not",   "Not" )

```

The data frame should look like this:

```r
> insurance_data
   ages accident whose_fault
1    46       No         Not
2    36       No         Not
3    45      Yes         Not
4    39      Yes         Not
5    25       No         Not
6    22      Yes         Not
7    25      Yes       Their
...

```
2) Subset the dataframe for people that had accidents which were their fault and call it **accident_makers**.

```r
> accident_makers
   ages accident whose_fault
7    25      Yes       Their
13   53      Yes       Their
15   36      Yes       Their
16   42      Yes       Their
23   53      Yes       Their
28   50      Yes       Their
36   35      Yes       Their
43   55      Yes       Their
48   48      Yes       Their
65   55      Yes       Their
66   45      Yes       Their

```

3) After subsetting, find out the mean of ages of those people that had accidents and were responsible for the accidents and call it **accident_makers_mean_age**.
```r
> accident_makers_mean_age
[1] 45.18182
````


4) Add a column called **riskiness** that says **risky** if the customer is younger than **accident_makers_mean_age**, and says **not** if the customer is older than **accident_makers_mean_age**.
```r
> insurance_data
   ages accident whose_fault riskiness
1   46       No         Not       not
2   36       No         Not     risky
3   45      Yes         Not     risky
4   39      Yes         Not     risky
5   25       No         Not     risky
6   22      Yes         Not     risky
7   25      Yes       Their     risky
```

5) Add another column called **price** where risky people are charged 100 tl and non-risky people are charged 50 tl.
```r
> insurance_data
  ages accident whose_fault riskiness price
1   46       No         Not       not    50
2   36       No         Not     risky   100
3   45      Yes         Not     risky   100
4   39      Yes         Not     risky   100
5   25       No         Not     risky   100
6   22      Yes         Not     risky   100
```

# SCARFS, HATS AND GLOVES

## QUESTION

Sevgi wants to buy a scarf, a hat, and a pair of gloves. Furthemore, she wants to select from white, black and grey models of these products. While searching on the internet, she found some models of different brands and recorded their prices in 3 data frames as such:

```r
> scarf
  Colors Prices_Scarf
1  White        43.99
2  Black        54.99
3   Grey        67.99

> gloves
  Color Prices_Gloves
1 Black         25.99
2  Grey         28.99
3 White         31.99

> hat
  Colour Prices_Hat
1   Grey      33.99
2  White      35.99
3  Black      34.99
```
Copy the lines below to create these data frames.
```r
scarf <- data.frame("Colors" = c("White","Black","Grey"), "Prices_Scarf" = c(43.99,54.99,67.99))
gloves <- data.frame("Color" = c("Black","Grey","White"), "Prices_Gloves" = c(25.99,28.99,31.99))
hat <- data.frame("Colour" = c("Grey","White","Black"), "Prices_Hat" = c(33.99,35.99,34.99))
```                     
1) Create  a data frame named **s_h_g** which holds all of the products' prices and colors. 

```r
> s_h_g
  Colors Prices_Scarf Prices_Hat Prices_Gloves
1  Black        54.99      34.99         25.99
2   Grey        67.99      33.99         28.99
3  White        43.99      35.99         31.99
```

2) Sevgi decides to buy the cheapest model of each product. Create a function named **cheapest**, which takes a data frame **dtaf** as its single argument whose default value is **s_h_g**. The function should find the color of the cheapest model of each product and return a data frame which holds the colors of the products which will be bought by Sevgi. 

*Hint : You may use* ``which.min()``.

The resulting data frame should look like as such:

```r
> cheapest(dtaf = s_h_g)
  scarf_bought hat_bought gloves_bought
1        White       Grey         Black
````

# MOVIES

## QUESTION

Tony and Gina want to decide which film to watch at the cinema. Tony has information about 4 movies and their genres, whereas, Gina has information about 4 movies and their runtime in minutes. 

Tony's information:

|Movie       |Genre  |
|---         |---    |
|Matrix      |Action |
|Scarface    |Crime  |
|Interstellar|Sci-fi |
|Memento     |Drama  |

Gina's information:

|Movie       |Runtime(min)|
|---         |---         |
|Interstellar|169         |
|Memento     |150         |
|Pianist     |113         |
|Seven       |127         |


1) Create 2 data frames named **Tony** and **Gina** according to the given data as such:

```r
> Tony
         Movie  Genre
1       Matrix Action
2     Scarface  Crime
3 Interstellar Sci-fi
4      Memento  Drama

> Gina
         Movie Runtime
1 Interstellar     169
2      Memento     150
3      Pianist     113
4        Seven     127

```

 - You can use the vectors below:

```r
movies <- c("Matrix", "Scarface", "Interstellar","Memento", "Pianist", "Seven")
genre <- c("Action", "Crime", "Sci-fi", "Drama")
runtime <- c(169, 150, 113, 127)

```

2) Combine the data frames into a single data frame called **allmv** which includes all movies as such:

```r
> allmv
         Movie  Genre Runtime
1 Interstellar Sci-fi     169
2       Matrix Action      NA
3      Memento  Drama     150
4      Pianist   <NA>     113
5     Scarface  Crime      NA
6        Seven   <NA>     127
```

3) Construct a data frame called **jointmv** which includes only the movies that Tony and Gina both know as such:

```r
> jointmv
         Movie  Genre Runtime
1 Interstellar Sci-fi     169
2      Memento  Drama     150
```

# COVID-19'S ANATOMY

## QUESTION

COVID-19 has started to spread among Grey Sloan Memorial Hospital’s personnel and a group of doctors are tested positive. 

The virus affects different people in different ways and its symptoms are as follows:

- Most common symptoms:
  Fever,
  dry cough,
  tiredness
  
- Less common symptoms:
  Aches and pains,
  sore throat,
  diarrhea,
  conjunctivitis,
  headache,
  loss of taste or smell
  
- Serious symptoms:
  Difficulty breathing or shortness of breath,
  chest pain or pressure,
  loss of speech or movement
  
Our doctors Alex, Christina, Derek, George, Izzie, and Meredith are showing some of these symptoms, however their test results turned out to be negative. They think that their test results were not accurate, so they decide to create their own method for testing. 

In this method; most common, less common and serious symptoms have a weight of 1, 2, and 3 respectively. For each person, the number of symptoms that observed are multiplied with their weights and the sum of these values are recorded as their scores. If a person's score is higher than 10, it means that they are positive.

Let's write an R code to see whether our doctors are infected or not.
   
|Names|Fever|Fatigue|Cough|
|:-----|:-----:|:-----:|:-----:|
|Alex|TRUE|FALSE|TRUE|
|Christina|FALSE|FALSE|TRUE|
|Derek|TRUE|TRUE|TRUE|
|George|TRUE|FALSE|FALSE|
|Izzie|FALSE|TRUE|TRUE|
|Meredith|TRUE|TRUE|FALSE|


1) Create a dataframe with the information above to see who has the common symptoms. Name it **common**.


|Names|Aches|SoreThroat|LossOfTasteOrSmell|Conjuctivitis|Headache|Diarrhea|
|:-----|:-----:|:-----:|:-----:|:-----|:-----:|:-----:|
|Alex|	TRUE|	FALSE|	TRUE|	FALSE|	TRUE|	FALSE|
|Christina|	FALSE|	TRUE|	FALSE|	TRUE|	FALSE|	TRUE|
|Derek|	TRUE|	TRUE|	FALSE|	TRUE|	TRUE|	FALSE|
|George|	FALSE|	FALSE|	FALSE|	TRUE|	FALSE|	FALSE|
|Izzie|	TRUE|	TRUE|	FALSE|	FALSE|	TRUE|	FALSE|
|Meredith|	FALSE|	TRUE|	TRUE|	FALSE|	FALSE|	TRUE|


2) Create a data frame with the information above to see who has the less common symptoms. Name it **less_common**.

3) Add the dataframe **less_common** to **common**, and rename it **upd_symptoms** as such:

```r 
> upd_symptoms
      Names Fever Fatigue Cough Aches SoreThroat
1      Alex  TRUE   FALSE  TRUE  TRUE      FALSE
2 Christina FALSE   FALSE  TRUE FALSE       TRUE
3     Derek  TRUE    TRUE  TRUE  TRUE       TRUE
4    George  TRUE   FALSE FALSE FALSE      FALSE
5     Izzie FALSE    TRUE  TRUE  TRUE       TRUE
6  Meredith  TRUE    TRUE FALSE FALSE       TRUE
  LossOfTasteOrSmell Conjuctivitis Headache Diarrhea
1               TRUE         FALSE     TRUE    FALSE
2              FALSE          TRUE    FALSE     TRUE
3              FALSE          TRUE     TRUE    FALSE
4              FALSE          TRUE    FALSE    FALSE
5              FALSE         FALSE     TRUE    FALSE
6               TRUE         FALSE    FALSE     TRUE
```

|Names|	ShortnessOfBreath|	ChestPain|	LossOfSpeechOrMovement|
|:-----|:-----:|:-----:|:-----:|
|Alex|	FALSE|	TRUE|	FALSE|
|Christina|	FALSE|	FALSE|	FALSE||
|Derek|	FALSE|	FALSE|	FALSE|
|George|	TRUE|	TRUE|	FALSE|
|Izzie|	TRUE|	TRUE|	FALSE|
|Meredith|	FALSE|	TRUE|	TRUE|


4) Create a data frame with the information above to see who has serious symptoms. Name it **serious**.


5) Now, add **serious** to **upd_symptoms**, rename it **new_upd_symp**. It should look as such:

```r 
  > new_upd_symp
      Names Fever Fatigue Cough Aches SoreThroat
1      Alex  TRUE   FALSE  TRUE  TRUE      FALSE
2 Christina FALSE   FALSE  TRUE FALSE       TRUE
3     Derek  TRUE    TRUE  TRUE  TRUE       TRUE
4    George  TRUE   FALSE FALSE FALSE      FALSE
5     Izzie FALSE    TRUE  TRUE  TRUE       TRUE
6  Meredith  TRUE    TRUE FALSE FALSE       TRUE
  LossOfTasteOrSmell Conjuctivitis Headache Diarrhea
1               TRUE         FALSE     TRUE    FALSE
2              FALSE          TRUE    FALSE     TRUE
3              FALSE          TRUE     TRUE    FALSE
4              FALSE          TRUE    FALSE    FALSE
5              FALSE         FALSE     TRUE    FALSE
6               TRUE         FALSE    FALSE     TRUE
  ShortnessOfBreath ChestPain LossOfSpeechOrMovement
1             FALSE      TRUE                  FALSE
2             FALSE     FALSE                  FALSE
3             FALSE     FALSE                  FALSE
4              TRUE      TRUE                  FALSE
5              TRUE      TRUE                  FALSE
6             FALSE      TRUE                   TRUE
> 
```

6) Write a function called **score_calculator** to calculate the number of each type of symptom observed and find the score of    each person respectively. The function should return a data frame as such:

```r 
> score_calculator(new_upd_symp)
  common l_common serious score
1      2        3       1    11
2      1        3       0     7
3      3        4       0    11
4      1        1       2     9
5      2        3       2    14
6      2        3       2    14
```

7) Create a data frame called **result** to see whose score is higher than 10. 

```r 
> result
      Names Score
1      Alex    11
2 Christina     7
3     Derek    11
4    George     9
5     Izzie    14
6  Meredith    14
```

#  HUMAN DEVELOPMENT INDEX

## QUESTION

The human development index is one of the measurements that enables us to compare the development levels of countries. The human development index is calculated with metrics, such as education, income, and life expectancy.

Here are some data about 5 countries:

|Country|Mean Years of Schooling(MYS)|Expected Years of Schooling(EYS)|Life Expectancy at Birth|GNI per capita|
|---|---|---|---|---|
|Switzerland|13.4|16.2|83.6|59,375|
|Germany|14.1|17.1|81.2|46,946|  
|Norway|12.6|18.0| 82.3 |68,059|
|Ireland|12.5|18.0|82.1 |55,660|
|Hong Kong(China)|12.0|16.5|84.7|60,221|

Esra wants to sort given countries according to their human development index score. To help her, copy the lines below to create vectors that hold the given data.

```r
countries <- c("Switzerland","Germany","Norway","Ireland","Hong Kong(China)")
mys <- c(13.4,14.1,12.6,12.5,12.0)
eys <- c(16.2,17.1,18.0,18.0,16.5)
life <- c(83.6,81.2,82.3,82.1,84.7)
gni <- c(59375,46946,68059,55660,60221)

```

1) Copy the lines below to create **life_expectancy_index** and **income_index**. Then, create a vector named **education_index** by using given information. Show 4 digits after the decimal points by using ``round()``.
 

```r
life_expectancy_index <- round((life-20) / 65, digit = 4)
income_index <- round( (log(gni) - log(100)) / (log(75000) - log(100) ), digit = 4)
```

   Education index is calculated as follows : 

$
   \displaystyle \frac{[(MYS/15) + (EYS/18)]} {2}
$

  
2) Create a data frame named **hdi_components** which holds the countries and the three indices.

   The data frame should look as such : 

```r
> hdi_components
         countries life_expectancy_index income_index education_index
1      Switzerland                0.9785       0.9647          0.8967
2          Germany                0.9415       0.9292          0.9450
3           Norway                0.9585       0.9853          0.9200
4          Ireland                0.9554       0.9550          0.9167
5 Hong Kong(China)                0.9954       0.9668          0.8583
``` 

3) Create a function named **hdi_calculator** with one argument, **dta**, which takes **hdi_components** as the default value. The function **hdi_calculator** will:

  - Calculate the human development index score of each country.
  The human development index is calculated as follows:
  
$
    HDI = (Education Index * Life Expectancy Index * Income Index)^{1/3}
$
  
  
  
  - Show 4 digits after decimal point of the human development index scores.
  - Sort the countries in decreasing order of the HDI's.

  Find the rank of each country and return a data frame as such :

```r
>  hdi_calculator(dta = hdi_components)
         Countries Life Expectancy Index Income Index Education Index    HDI Rank
3           Norway                0.9585       0.9853          0.9200 0.9542    1
1      Switzerland                0.9785       0.9647          0.8967 0.9459    2
4          Ireland                0.9554       0.9550          0.9167 0.9422    3
2          Germany                0.9415       0.9292          0.9450 0.9385    4
5 Hong Kong(China)                0.9954       0.9668          0.8583 0.9383    5
```

# SAFER STATES

## QUESTION

**USArrests** is a built-in data frame of RStudio and it contains statistics; in arrests per 100,000 residents for assault, murder, and rape in each of the 50 US states in 1973. Also, the percent of the population living in urban areas is given.

1) See the first part of the data frame. Then, create a data frame named **Arrests** without the urban population rate **UrbanPop**.

The resulting data frame should look as such:

```r
> head(Arrests)
           Murder Assault Rape
Alabama      13.2     236 21.2
Alaska       10.0     263 44.5
Arizona       8.1     294 31.0
Arkansas      8.8     190 19.5
California    9.0     276 40.6
Colorado      7.9     204 38.7
```

2) Create a function called **safer** that takes a data frame **dt** as its only argument. 

   Inside the function:
 - First, find the mean number of arrests in each category.
 - Then create a data frame that consists of the states that have a lower number of arrests than the mean for all categories.
 - Return this data frame with mean arrests as its first row.
 
 
3) Try **safer** function with **Arrest**, and find as such:

```r
> safer(Arrests)
              Murder Assault Rape
USMean           8.0     171 21.0
Connecticut      3.3     110 11.1
Hawaii           5.3      46 20.2
Idaho            2.6     120 14.2
Iowa             2.2      56 11.3
Kansas           6.0     115 18.0
Maine            2.1      83  7.8
Massachusetts    4.4     149 16.3
Minnesota        2.7      72 14.9
Montana          6.0     109 16.4
Nebraska         4.3     102 16.5
New Hampshire    2.1      57  9.5
New Jersey       7.4     159 18.8
North Dakota     0.8      45  7.3
Oklahoma         6.6     151 20.0
Pennsylvania     6.3     106 14.9
South Dakota     3.8      86 12.8
Vermont          2.2      48 11.2
West Virginia    5.7      81  9.3
Wisconsin        2.6      53 10.8
Wyoming          6.8     161 15.6

```

# GATHER TOGETHER

##  QUESTION

You are given 3 data frames as such:


```r
name1 <- c("Naz", "Murat", "Beril", "Ahmet","Melih")
grade1 <- c(66, 65, 43, 84, 93)
class <- c("1st", "2nd", "1st","4th", "Prep")
preference <- c("Apple", "Samsung", "Samsung", "Other", "Apple")
frs <- cbind(name1, grade1, class, preference)
frs

name2 <- c("Naz", "Murat", "Beril", "Ahmet","Sibel")
grade2 <- c(66, 65, 43, 84, 75)
fail <- c(T, F, T, F, F)
fav_class <- c("Math", "Physics", "Biology", "Art","History")
scn <- cbind(name2, grade2, fail, fav_class)
scn

name3 <- c("Naz", "Murat", "Beril", "Ahmet","Sibel", "Hasan")
exam <- c("DC","CC", "DD", "AA","BA","DD")
fail2 <- c(T, F, T, F, F, T)
hobby <- c("Tennis","Football","Guitar","Painting","Diving","Running")
thr <- cbind(name3, exam, fail2, hobby)
thr

   

```
Copy the code above to construct the data frames.

Then, create a function called **merging** that takes 2 arguments **df1** and **df2** as data frames. The function should apply outer join operation to these 2 data frames. It is known that you will always be given data frames that has students' names in the first column. Build your function accordingly. Check if the merged data frame has more than 6 NA values. If yes, then the function should apply inner join operation to these 2 data frames. The function should return the merged data frame in the end. 

*Hint: You should use* ``paste()`` *function to merge dataframes properly.*

Your function should return outputs as such:

```r
> merging(frs, scn)
  name1 grade1 class preference project  fail fav_class
1 Ahmet     84   4th      Other      92 FALSE       Art
2 Beril     43   1st    Samsung      77  TRUE   Biology
3 Melih     93  Prep      Apple    <NA>  <NA>      <NA>
4 Murat     65   2nd    Samsung      36 FALSE   Physics
5   Naz     66   1st      Apple      86  TRUE      Math
6 Sibel   <NA>  <NA>       <NA>      75 FALSE   History


> merging(frs, thr)
  name1 grade1 class preference exam next_semester    hobby
1 Ahmet     84   4th      Other   AA         FALSE Painting
2 Beril     43   1st    Samsung   DD          TRUE   Guitar
3 Murat     65   2nd    Samsung   CC         FALSE Football
4   Naz     66   1st      Apple   DC         FALSE   Tennis


> merging(scn, thr)
  name2 project  fail fav_class exam next_semester    hobby
1 Ahmet      92 FALSE       Art   AA         FALSE Painting
2 Beril      77  TRUE   Biology   DD          TRUE   Guitar
3 Hasan    <NA>  <NA>      <NA>   DD          TRUE  Running
4 Murat      36 FALSE   Physics   CC         FALSE Football
5   Naz      86  TRUE      Math   DC         FALSE   Tennis
6 Sibel      75 FALSE   History   BA          TRUE   Diving

```

# US JUDGE RATINGS

## QUESTION

There is a built-in dataset in RStudio called **USJudgeRatings**, which shows lawyers' ratings of state judges in the US Superior Court (rated based on 12 criteria). We will use this dataset in this question. Store this dataset in a variable called **jdg** to make the calculations easier.

```r
> head(jdg)
               CONT INTG DMNR DILG CFMG DECI PREP FAMI ORAL WRIT PHYS RTEN
AARONSON,L.H.   5.7  7.9  7.7  7.3  7.1  7.4  7.1  7.1  7.1  7.0  8.3  7.8
ALEXANDER,J.M.  6.8  8.9  8.8  8.5  7.8  8.1  8.0  8.0  7.8  7.9  8.5  8.7
ARMENTANO,A.J.  7.2  8.1  7.8  7.8  7.5  7.6  7.5  7.5  7.3  7.4  7.9  7.8
BERDON,R.I.     6.8  8.8  8.5  8.8  8.3  8.5  8.7  8.7  8.4  8.5  8.8  8.7
BRACKEN,J.J.    7.3  6.4  4.3  6.5  6.0  6.2  5.7  5.7  5.1  5.3  5.5  4.8
BURNS,E.B.      6.2  8.8  8.7  8.5  7.9  8.0  8.1  8.0  8.0  8.0  8.6  8.6
```

1) We will classify these judges with our own method by using the ratings in this data set. We will eliminate 5 criteria and use the other 7 criteria in the data set to do it. Find the standard deviations of each criterion and remove 5 criteria with the lowest 5 standard deviations from the data set.

```r
> head(jdg)
               DECI PREP FAMI ORAL WRIT PHYS RTEN
AARONSON,L.H.   7.4  7.1  7.1  7.1  7.0  8.3  7.8
ALEXANDER,J.M.  8.1  8.0  8.0  7.8  7.9  8.5  8.7
ARMENTANO,A.J.  7.6  7.5  7.5  7.3  7.4  7.9  7.8
BERDON,R.I.     8.5  8.7  8.7  8.4  8.5  8.8  8.7
BRACKEN,J.J.    6.2  5.7  5.7  5.1  5.3  5.5  4.8
BURNS,E.B.      8.0  8.1  8.0  8.0  8.0  8.6  8.6
```

2) Create a function called **qualities** which takes one argument **df** with **jdg** as its default value. The function will calculate the total ratings of each judge and classify them in accordance with the following table:

|Total Point|Classification|
|---|---|
|The Highest|"Most Qualified"|
|55-|"Well Qualified"|
|46-55|"Qualified"|
|-46|"Low Qualified"|
|The Lowest|"Least Qualified"|

```r
> head(qualities(df = jdg))
               Total Classification
AARONSON,L.H.   51.8      Qualified
ALEXANDER,J.M.  57.0 Well Qualified
ARMENTANO,A.J.  53.0      Qualified
BERDON,R.I.     60.3 Well Qualified
BRACKEN,J.J.    38.3  Not Qualified
BURNS,E.B.      57.3 Well Qualified
```

# OIL CRISIS

## QUESTION

The 1973 oil crisis began in October 1973 when the members of the Organization of Arab Petroleum Exporting Countries proclaimed an oil embargo. The embargo was targeted at nations perceived as supporting Israel, such as the US and Netherlands, during the Yom Kippur War, a war which was led by Egypt and Syria against Israel.

An economist from Johnson&Johnson, an American pharmaceutical company, wants to see the effect of the crisis on the quarterly earnings of his company's shares in stock market. Here are the data from recent years by quarters:

 - Quarter 1: (2.16, 2.79, 3.60, 4.86, 5.58, 6.03, 6.93, 7.74, 9.54, 11.88)
 - Quarter 2: (2.43, 3.42, 4.32, 5.04, 5.85, 6.39, 7.74, 8.91, 10.26, 12.06)
 - Quarter 3: (2.70, 3.69, 4.32, 5.04, 6.57, 6.93, 7.83, 8.28, 9.54, 12.15)
 - Quarter 4: (2.25, 3.60, 4.05, 4.41, 5.31, 5.85, 6.12, 6.84, 8.73, 8.91)

1) Create a vector called **years** and assign it the years from 1969 to 1978. Create vectors for each quarter, for Quarter 1 name it **qty1**, for Quarter 2 **qty2**, for Quarter 3 **qty3**, and for Quarter 4 **qty4**. Create a data frame called **johnson** using **years**, **qty1**, **qty2**, **qty3**, **qty4**.

```r
    > johnson
       years  qty1  qty2  qty3 qty4
    1   1969  2.16  2.43  2.70 2.25
    2   1970  2.79  3.42  3.69 3.60
    3   1971  3.60  4.32  4.32 4.05
    4   1972  4.86  5.04  5.04 4.41
    5   1973  5.58  5.85  6.57 5.31
    6   1974  6.03  6.39  6.93 5.85
    7   1975  6.93  7.74  7.83 6.12
    8   1976  7.74  8.91  8.28 6.84
    9   1977  9.54 10.26  9.54 8.73
    10  1978 11.88 12.06 12.15 8.91
```

2) Create a vector for the 1969-1973 period and name it **pre_crisis_years**. Create another vector for the 1974-1978 period and name it **post_crisis_years**.

```r
    > pre_crisis_years
    [1] "1969" "1970" "1971" "1972" "1973"
    > post_crisis_years
    [1] "1974" "1975" "1976" "1977" "1978"
```

3) Filter the dataframe **johnson** using **pre_crisis_years** vector and assign the values to a new data frame called **pre_crisis_earn**. Filter **johnson** dataset once again using **post_crisis_years** and the values to a new data frame called **post_crisis_earn**.

```r
    > pre_crisis_earn
      years qty1 qty2 qty3 qty4
    1  1969 2.16 2.43 2.70 2.25
    2  1970 2.79 3.42 3.69 3.60
    3  1971 3.60 4.32 4.32 4.05
    4  1972 4.86 5.04 5.04 4.41
    5  1973 5.58 5.85 6.57 5.31
    > post_crisis_earn
       years  qty1  qty2  qty3 qty4
    6   1974  6.03  6.39  6.93 5.85
    7   1975  6.93  7.74  7.83 6.12
    8   1976  7.74  8.91  8.28 6.84
    9   1977  9.54 10.26  9.54 8.73
    10  1978 11.88 12.06 12.15 8.91
```

4) Finally, create a function called **mean_calculator** which takes a single argument, **dta**. It calculates the mean of each years' quarterly earnings. Create a new column named **mean** for both **pre_crisis_earn** and **post_crisis_earn** and assign the value returned from **mean_calculator** as such:

```r
    > pre_crisis_earn
      years qty1 qty2 qty3 qty4   mean
    1  1969 2.16 2.43 2.70 2.25 2.3850
    2  1970 2.79 3.42 3.69 3.60 3.3750
    3  1971 3.60 4.32 4.32 4.05 4.0725
    4  1972 4.86 5.04 5.04 4.41 4.8375
    5  1973 5.58 5.85 6.57 5.31 5.8275
    > post_crisis_earn
       years  qty1  qty2  qty3 qty4    mean
    6   1974  6.03  6.39  6.93 5.85  6.3000
    7   1975  6.93  7.74  7.83 6.12  7.1550
    8   1976  7.74  8.91  8.28 6.84  7.9425
    9   1977  9.54 10.26  9.54 8.73  9.5175
    10  1978 11.88 12.06 12.15 8.91 11.2500
```

# CAR LOANS

## QUESTION

Fatma wants to buy a new car and she needs 50 000 TL. After carefully going over her budget, she determines that she can afford to pay 2400 TL per month for a new car. She calls up banks and asks for loans with two, three and five year terms. 

Use the code below in order to create **df** dataframe which shows the banks' loan offers for Fatma.

```r
RNGversion("3.3.1")
set.seed(2020)

two.years <- round(rnorm(6, 0.014, 0.001), digits = 3)
three.years <- round(rnorm(6, 0.016, 0.001), digits = 3)
five.years <- round(rnorm(6, 0.018, 0.001), digits = 3)
df <- data.frame("bank" = rep(letters[1:6], 3),
                 "number.of.periods" = rep(c(24, 36, 60), each = 6),
                 "interest.rate" = c(two.years, three.years, five.years),
                 "monthly.payment" = c(2467, 2467, 2439, 2439, 2382, 2496,
                                       1868, 1838, 1899, 1838, 1808, 1868,
                                       1404, 1370, 1370, 1438, 1438, 1270))

df <- df[order(df[,1]),]
```
```r
> head(df)
   bank     number.of.periods  interest.rate   monthly.payment
1     a                24         0.014            2467
7     a                36         0.017            1868
13    a                60         0.019            1404
2     b                24         0.014            2467
8     b                36         0.016            1838
14    b                60         0.018            1370
```

The data in the first row indicates that bank **a** offers 50.000 TL in monthly payments of 2467 TL with 1,4% interest rate per month for 24 months. 

A series of periodic payments that occur for some fixed numbers of periods are called annuities. Future value of an annuity can be calculated with the following formula:

$ 
     \displaystyle Annuity Future Value = C  \left( \frac{(1+r)^t - 1}{r} \right) 
$

**C :** constant payment

**r :** interest rate

**t :** number of periods

1) Calculate **afv** as future value of annuity for each credits offered to Fatma and add them to **df** as shown below:

```r
> head(df)
   bank         number.of.periods  interest.rate      monthly.payment       afv
1     a                24               0.014            2467             69795.30
7     a                36               0.017            1868             91713.81
13    a                60               0.019            1404             154699.12
2     b                24               0.014            2467             69795.30
8     b                36               0.016            1838             88547.51
14    b                60               0.018            1370             145869.35
```

2) Create **df2** which is a dataframe that shows the most advantageous car loans which have minimum future values grouped by time periods.

*Hint: Use `aggregate()` function in order to make computations according to groups in the data.*
 
```r
> df2
        afv bank number.of.periods interest.rate monthly.payment
1  65018.34    e                24         0.011            2382
2  85474.95    e                36         0.015            1808
3 122192.61    f                60         0.015            1270
```